<!DOCTYPE html>

<html lang="eng">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width-device-width, initial-scale=1">
        <title>Paws</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/d822494821.js" crossorigin="anonymous"></script>
        <link href="../static/style.css" rel = "stylesheet">

    </head>
    <body>

        <!--Navigation-->

        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
            <div class ="container-fluid">
                <a class="navbar-brand" href = "/index"><img src = "../static/img/logo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto"></ul>
                        <li class="nav-item active">
                            <a class="nav-link", href ="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link", href ="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link", href="/shop">Shop</a>
                        </li>
                        </li>        
                        <li class="nav-item">
                            <a class="nav-link", href="/adopt">Adopt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link", href="v/ideos">Videos</a>
                        </li>
                    </ul>
            </div>
        </nav>
<div id ="slides" class = "carousel slide" datat-ride="carousel">
<ul class = "carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
</ul>
<div class = "carousel-inner">
    <div class="carousel-item active">
        <img src="../static/img/siamese_cat.png">
        <div class="carousel-caption">
            <h1 class="display-2">Siamese Cat</h1>
            <h3>The Siamese cat is a loving and affectionate pet. It is very loyal and highly intelligent and curious. An outgoing people-cat, they thrive on physical closeness and will give as good as they get.</h3>
        </div>
    </div>
    <div class="carousel-item">
        <img src="../static/img/bengal_cat.jpg">
        <div class="carousel-caption">
            <h1 class="display-2">Bengal Cats</h1>
            <h3>Bengal Cats are an energetic, condfident and social cat. They enjoy the company of friends and family making them a great family pet.</h3>
        </div>
    </div>
    <div class="carousel-item">
        <img src="../static/img/abyssinian_cat.jpg">
        <div class="carousel-caption">
            <h1 class="display-2">Abyssinian Cats</h1>
            <h3>Abyssinian cats are famous for their  playful, dog-like demeanor which endears them to humans. Abys are active, curious cats that frequently follow owners around. </h3>
        </div>
    </div>

</div>
</div>
</html> 