<!DOCTYPE html>

<html lang="eng">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width-device-width, initial-scale=1">
        <title>Paws</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/d822494821.js" crossorigin="anonymous"></script>
        <link href="../static/style.css" rel = "stylesheet">

    </head>
    <body>

        <!--Navigation-->

        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
            <div class ="container-fluid">
                <a class="navbar-brand" href = "/index"><img src = "../static/img/logo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto"></ul>
                        <li class="nav-item active">
                            <a class="nav-link", href ="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link", href ="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link", href="/shop">Shop</a>
                        </li>
                        </li>        
                        <li class="nav-item">
                            <a class="nav-link", href="/adopt">Adopt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link", href="/videos">Videos</a>
                        </li>
                    </ul>
            </div>
        </nav>
<div id ="slides" class = "carousel slide" datat-ride="carousel">
<ul class = "carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
</ul>
<div class = "carousel-inner">
    <div class="carousel-item active">
        <img src="../static/img/African-Grey.jpg">
        <div class="carousel-caption">
            <h1 class="display-2">African Grey Parrots</h1>
            <h3>The African Grey Parrots are the most intelligent of the parrot species and are one of the most social. They are very sweet and affectionate. However, they require a lot of love and care otherwise they will be very unhappy.</h3>
        </div>
    </div>
    <div class="carousel-item">
        <img src="../static/img/Blue-and-Gold-Macaw.jpg">
        <div class="carousel-caption">
            <h1 class="display-2">Blue and Gold Macaw</h1>
            <h3>The Blue and Gold Macaws are a majestic species of the Macaw family. They are highly intelligent and adapt to other birds very well. The blue and gold is a fantastic bird for tricks. They enjoy being near their owners and seek out attention.</h3>
        </div>
    </div>
    <div class="carousel-item">
        <img src="../static/img/Lovebird.jpg">
        <div class="carousel-caption">
            <h1 class="display-2">Lovebirds</h1>
            <h3>As their name suggests, Lovebirds are known for the loving and affectionate bond that they form with their owners. They are highly active and curious. Lovebirds can also be very territorial, aggressive, and jealous if not properly tamed and worked with from a young age.</h3>
        </div>
    </div>

</div>
</div>
</html> 